<!-- footer -->
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-4 order-4 order-md-1 order-lg-4 order-xl-1">
				<div class="footer__logo">
					<img src="<%= discord?.user.avatarURL() %>" alt=""
						style="border-radius: 50%; width: 50px; height: 50px;">
				</div>
				<p class="footer__tagline">
					Goddess Anime Cards is a website / bot where you can trade anime cards with other users. You can
					also buy cards from the shop and sell your own cards to other users.
				</p>
			</div>


			<div class="col-6 col-md-4 col-lg-3 col-xl-2 order-1 order-lg-1 order-md-2 order-xl-2">
				<h6 class="footer__title">Pinned Things</h6>
				<div class="footer__nav">
					<a href="/privacy">Privacy Policy</a>
					<a href="/login">Login</a>
				</div>
			</div>


			<div class="col-6 col-md-4 col-lg-3 col-xl-2 order-2 order-lg-3 order-md-4 order-xl-4">
				<h6 class="footer__title">Community</h6>
				<div class="footer__nav">
					<a href="https://discord.gg/ZuPHXurZvn">Support Server</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="footer__content">
					<div class="footer__social">
						<a href="https://discord.gg/u9cudxBVTG" target="_blank">
							<img src="https://media.discordapp.net/attachments/1110434165670821948/1110667511030108221/847541504914fd33810e70a0ea73177e-4.png" alt="Discord" title="Discord" style="width: 24px; height: 24px;">
						</a>
						<a href="https://www.reddit.com/r/goddessanime/" target="_blank">
							<img src="https://media.discordapp.net/attachments/1110434165670821948/1110667510333849630/7103-reddit.png" alt="Reddit" title="Reddit" style="width: 24px; height: 24px;">
						</a>
						<a href="https://twitter.com/HyperStarCloud" target="_blank">
							<img src="https://media.discordapp.net/attachments/1110434165670821948/1110667510606471300/4991-twitter-logo.png" alt="Twitter" title="Twitter" style="width: 24px; height: 24px;">
						</a>
					</div>
					<small class="footer__copyright">
						<script>document.write(new Date().getFullYear())</script> © <a href="https://hyperstar.cloud"
							target="_blank">
							HyperStar
						</a> - All Rights Reserved • Made with <i class="bi bi-heart-fill" style="color: red;"></i> by
						<a href="https://hylia.dev" target="_blank">Hylia</a>
						</br>
						<div>
							<i class="bi bi-cup-hot-fill"> Honorable Mentions</i>
							</br>
							<a href="/user/547923574833545226" target="_blank">Hylia</a> \ <a
								href="/user/827683263040192512" target="_blank">Lmay</a> \ <a
								href="/user/410862653419028481" target="_blank">Nyxa</a> \ <a
								href="/user/670459646284398615" target="_blank">Furdox</a>
						</div>
					</small>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end footer -->