<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Goddess Anime Cards :: Down
    </title>
    <link rel="stylesheet" href="/assets/css/utils.css">
    <link rel="stylesheet" href="/assets/css/discord-theme.css">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Goddess Anime Cards">
    <meta property="og:title" content="Goddess Anime Cards :: Down">
    <meta property="og:description" content="<%= message %>">
    <meta property="og:image" content="https://media.tenor.com/xEVkMZC-r3IAAAAS/aqua-goddess.gif">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="Goddess Anime Cards">
    <meta name="twitter:creator" content="Goddess Anime Cards">
    <meta name="twitter:card" content="summary_large_image">
    <meta content="#43B581" data-react-helmet="true" name="theme-color" />
    <link rel="stylesheet" href="/assets/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/select2.min.css">
    <link rel="stylesheet" id="theme-css" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/card.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/select2.min.js"></script>
    <script src="/assets/js/smooth-scrollbar.js"></script>
    <script src="/assets/js/jquery.countdown.min.js"></script>
    <script src="/assets/js/three.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/slide.js"></script>
</head>



<body>

    <!-- main content -->
    <main class="main">
        <div class="container">
            <div class="row row--grid">
                <!-- breadcrumb -->
                <div class="col-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item"><a href="/">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Down</li>
                    </ul>
                </div>
                <!-- end breadcrumb -->

                <!-- error -->
                <div class="col-12">
                    <div class="page-404">
                        <div class="page-404__wrap">
                            <div class="page-404__content">
                                <h1 class="page-404__title" style="font-size: 40px;">
                                    Down for Maintenance
                                </h1>
                            </br>
                                <p class="page-404__text">
                                    <%= message %>
                                </p>
                                <p id="timer" class="page-404__text" style="font-size: 15px; display: none;">
                                    Will be back in 00:00:00
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end error -->
            </div>

            <div id="time-up-popup" class="zoom-anim-dialog mfp-hide modal modal--form">
                <button class="modal__close" type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
                            d="M13.41,12l4.3-4.29a1,1,0,1,0-1.42-1.42L12,10.59,7.71,6.29A1,1,0,0,0,6.29,7.71L10.59,12l-4.3,4.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l4.29,4.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z" />
                    </svg></button>

                <h4 class="sign__title">
                    We're back!
                </h4>

                <p class="modal__text">
                    We're back online! Thank you for your patience.
                </p>
            </div>
        </div>
    </main>
    <!-- end main content -->

    </div>
    </div>

    <script>
        let time = "<%= time %>";
        const timer = document.getElementById("timer");


        console.log(new Date(time));

        const countdown = () => {
            const now = new Date().getTime();
            const distance = new Date(time).getTime() - now;

            const days = Math.floor(distance / (1000 * 60 * 60 * 24));
            const hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Check if a value is less than 10 and pre-prend a "0" if necessary also if the value is 0 then don't display it
            const format = (val) => {
                return val < 10 ? "0" + val : val;
            };

            if (days > 0) {
                timer.style.display = "block";
                timer.innerHTML = `Will be back in ${format(days)}:${format(hours)}:${format(minutes)}:${format(seconds)}`;
            } else if (hours > 0) {
                timer.style.display = "block";
                timer.innerHTML = `Will be back in ${format(hours)}:${format(minutes)}:${format(seconds)}`;
            } else if (minutes > 0) {
                timer.style.display = "block";
                timer.innerHTML = `Will be back in ${format(minutes)}:${format(seconds)}`;
            } else if (seconds > 0) {
                timer.style.display = "block";
                timer.innerHTML = `Will be back in ${format(seconds)}`;
            } else {
                timer.innerHTML = `Will be back in 00:00:00`;
            }



            if (distance < 0) {
                clearInterval(countdown);
                $.magnificPopup.open({
                    items: {
                        src: '#time-up-popup'
                    },
                    type: 'inline',
                    preloader: false,
                    modal: true,
                    callbacks: {
                        open: function () {
                            timer.style.display = "none";
                        }
                    }
                });
            }
        };

        setInterval(countdown, 1000);


    </script>


</body>

</html>