<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Goddess Anime Cards :: FAQ
    </title>
    <link rel="stylesheet" href="/assets/css/utils.css">
    <link rel="stylesheet" href="/assets/css/discord-theme.css">
    <meta property="og:type" content="website">
	<meta property="og:site_name" content="Goddess Anime Cards">
	<meta property="og:title" content="Goddess Anime Cards :: FAQ">
	<meta property="og:description" content="Here you can find all the information you need to know about Goddess Anime Cards.">
    <meta property="og:image" content="https://media.tenor.com/xEVkMZC-r3IAAAAS/aqua-goddess.gif">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="Goddess Anime Cards">
	<meta name="twitter:creator" content="Goddess Anime Cards">
	<meta name="twitter:card" content="summary_large_image">
	<meta content="#43B581" data-react-helmet="true" name="theme-color" />
</head>



<body>
    <%- include ("templates/header.ejs") %>

        <!-- main content -->
        <main class="main">
            <div class="container">
                <div class="row row--grid">
                    <!-- breadcrumb -->
                    <div class="col-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb__item"><a href="/">Home</a></li>
                            <li class="breadcrumb__item breadcrumb__item--active">FAQ</li>
                        </ul>
                    </div>
                    <!-- end breadcrumb -->

                    <!-- title -->
                    <div class="col-12 col-xl-11">
                        <div class="main__title main__title--page">
                            <h1>FAQ</h1>

                        </div>
                    </div>
                    <!-- end title -->



                    <!-- faq -->
                    <div class="row row--grid">
                        <div class="col-12 col-lg-4">
                            <div class="faq" id="how-to-make-request">
                                <h3 class="faq__title">
                                    I want to make a request for a card, how do I do that?
                                </h3>
                                <p class="faq__text">
                                    If you want to make a request for a new card to be added to the game.

                                    Head over to our <a href="/discord" target="_blank">Discord Server</a>.

                                    Go to the <a href="https://discord.com/channels/1062574590406172692/1095157260642156605" target="_blank"><span class="channel fourm" discord-title="ðŸƒãƒ»card-requests"></span></a> channel.

                                    There you can make a request for a card and we will review it and add it to the game
                                    if it is approved.
                                </p>
                            </div>


                            <div class="faq">
                                <h3 class="faq__title" id="card-request-rules">
                                    What are the rules for card requests?
                                </h3>
                                <p class="faq__text">
                                    The rules for card requests are as follows:
                                <ul class="list">
                                    <li>
                                        No NSFW (HENTAI) cards
                                    </li>
                                    <li>
                                        No cards that are not anime related
                                    </li>
                                    <li>
                                        Loli (Lolicon) is <strong>NOT ALLOWED</strong>
                                    </li>
                                </ul>
                                </p>
                            </div>




                        </div>

                        <div class="col-12 col-lg-4">

                            <div class="faq">
                                <h3 class="faq__title" id="how-do-i-contribute">
                                    I want to contribute to the project, how do I do that?
                                </h3>
                                <p class="faq__text">
                                    <ul class="number-list">
                                        <li>
                                            Head over to our <a href="https://www.hyperstar.cloud/contributing" target="_blank">Contributing Guidelines</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/0xhylia/hylia.dev/fork" target="_blank">Fork</a> the project
                                        </li>
                                        <li>
                                            Create a new branch for your contribution
                                        </li>
                                        <li>
                                            Make your changes
                                        </li>
                                        <li>
                                            Submit a pull request
                                        </li>
                                    </ul>
                                </p>
                            </div>




                        </div>

                        <div class="col-12 col-lg-4">
                            <div class="faq">
                                <h3 class="faq__title" id="question-not-listed">
                                   I have a question that is not listed here, how do I get it answered?
                                </h3>
                                <p class="faq__text">
                                    If you have a question that is not listed here, you have 3 options:

                                    <ul class="list">
                                        <li>
                                            You can ask the question in the  <a href="https://discord.com/channels/1062574590406172692/1095157904757235754" target="_blank"><span class="channel">ðŸ“šãƒ»faq</span></a> channel in our <a href="/discord">Discord Server</a>.
                                        </li>
                                        <li>
                                            You can create a ticket in the <a href="https://discord.com/channels/1062574590406172692/1062579546378997820" target="_blank"><span class="channel ticket" discord-title="ðŸ“©ãƒ»tickets"></span></a> channel in our <a href="/discord">Discord Server</a>.
                                        </li>
                                        <li>
                                            You can contact us at <a href="mailto:admin@hyperstar.cloud" target="_blank">admin@hyperstar.cloud</a>
                                        </li>
                                    </ul>
                                </p>
                            </div>

                           




                        </div>


                    </div>
                </div>
                <!-- end faq -->

            </div>
        </main>
        <!-- end main content -->

        <%- include ("templates/footer.ejs") %>







            </div>







            </div>


</body>

</html>